{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Browse {{ genre ? genre : 'All Genres' }}</h1>

        <h2 class="mt-5 mb-4">Filter by Genre</h2>
        <ul class="genre-list ps-0 mt-2 mb-3">
            <li class="d-inline">
                <a href="{{ path('app_browse', { slug: 'pop' }) }}" class="btn btn-primary btn-sm">Pop</a>
            </li>
            <li class="d-inline">
                <a href="{{ path('app_browse', { slug: 'rock'}) }}" class="btn btn-primary btn-sm">Rock</a>
            </li>
            <li class="d-inline">
                <a href="{{ path('app_browse', { slug: 'heavy-metal' }) }}" class="btn btn-primary btn-sm">Heavy Metal</a>
            </li>
        </ul>

        <div>
            <h2 class="mt-5">Mixes</h2>
            <div class="row">
                <div class="col col-md-4">
                    <div class="mixed-vinyl-container p-3 text-center">
                        <img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300"
                             alt="Square placeholder img">
                        <p class="mt-2"><strong>PB & Jams</strong></p>
                        <span>14 Tracks</span> | <span>Rock</span>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="mixed-vinyl-container p-3 text-center">
                        <img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300"
                             alt="Square placeholder img">
                        <p class="mt-2"><strong>Put a Hex on your Ex</strong></p>
                        <span>8 Tracks</span> | <span>Heavy Metal</span>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="mixed-vinyl-container p-3 text-center">
                        <img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300"
                             alt="Square placeholder img">
                        <p class="mt-2"><strong>Spice Grills - Summer Tunes</strong></p>
                        <span>10 Tracks</span> | <span>Pop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
